header img {
    height: 60px;
}

body {
    background:aliceblue;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.active{
    text-decoration: underline;
    text-decoration-color: red;

}

.skip a {
    position:absolute;
    top:-40px;


}
header {
    background-color: #00274c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}


header * {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.page-header {
    background-color: #FFCB05;
}

h1 {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 6px 0 6px 0;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: black;
    text-align: left;
    padding: 10px 0 10px 0;

}

h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: black;
    text-align: left;
    padding: 10px 0 10px 0;

}

p {
    line-height: 18px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    text-align: left;
    padding-bottom: 8px;
}

main {
    margin-top: 80px;
    margin-bottom: 20px;
}

section{
    padding: 8px;
}

figcaption {
    font-size: 14px; 
    font-weight: 300; 
    font-style: italic;
    color: #333; 
    margin-top: 5px; 
    padding: 6px 0px; 
}
.what_we_provide {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 18px 18px;
}

.what_we_provide img{
    width:200px;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 16px; 
    padding: 16px 8px; 
}

.grid-item {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 16px; 
    text-align: center; 
}


footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #00274c;
    height: 80px;
    padding: 20px 8px;
}

footer p {
    color: aliceblue;
    font-size: 14px;
    text-align: center;
}

footer a {
    color: #007bff;
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}
